@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/iransans/IRANSans.woff2') format('woff2');
}
@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/iransans/IRANSans_Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/iransans/IRANSans_Bold.woff2') format('woff2');
}
